---
// src/pages/swiper.astro
const { banner, url } = Astro.props;
const { images } = banner;
---

<style>
  /* 修改箭頭顏色為白色並加大 */
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
    font-size: 30px; /* 调整箭头大小 */
  }

  /* 修改點點顏色為白色並加大 */
  .swiper-pagination-bullet {
    background: white;
    width: 16px; /* 调整点点的宽度 */
    height: 16px; /* 调整点点的高度 */
  }

  /* 点点在活动状态下的大小和颜色 */
  .swiper-pagination-bullet-active {
    background: white;
    width: 20px; /* 活动状态下的点点宽度 */
    height: 20px; /* 活动状态下的点点高度 */
  }

  /* 通过root变量来设置颜色 */
  :root {
    --swiper-navigation-color: white;
    --swiper-pagination-color: white;
  }

  .swiper-container {
    width: 100%;
    overflow-x: hidden;
  }

  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
  }

  .swiper-wrapper-container {
    position: relative;
    width: 100%;
    height: 80vh; /* 设置高度为视口高度 */
    overflow: hidden;
  }

  .swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination {
    bottom: 20px !important;
  }

  /* 移动设备样式 */
  @media (max-width: 768px) {
    .swiper-wrapper-container {
      height: auto;
      padding-bottom: 56.25%; /* 16:9 高宽比，可以根据需要调整 */
    }

    .swiper-pagination {
      bottom: 10px !important;
    }
  }
</style>

<div class="swiper-wrapper-container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {
        images.map((image, index) => (
          <div class="swiper-slide" key={index}>
            <img alt={`banner-${index}`} src={image.src} />
          </div>
        ))
      }
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<!-- 引入 Swiper 的 CSS 文件 -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<!-- 引入 Swiper 的 JS 文件 -->
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script is:inline>
  new Swiper(".swiper-container", {
    loop: true,
    autoplay: {
      delay: 3000,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    slidesPerView: 1,
    allowTouchMove: true,
  });
</script>
