---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import HomapageFeature from "@/layouts/function-components/HomapageFeature";
import FeatureTab from "@/layouts/function-components/FeatureTab";
const { environment } = Astro.props;
const { title, description, feature_list } = environment;
---

<section class="section environment relative">
  <div class="container">
    <FeatureTab client:load feature_tab={environment} />
  </div>
</section>
